*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a9c0a6;
}

header{
    text-align: center;
    background-color: #097770;
}

header h1{
    text-transform: uppercase;
    padding-top: 30px;
    color: #e0cdbe;
}

header p{
    letter-spacing: 10px;
    margin-top: 20px;
    color: #e0cdbe;
}

.input{
    display : flex;
    justify-content: center;
    background-color: #097770;
    border-radius: 0 0 5px 50px;
}

.input input{
    padding: 10px;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    max-width: 900px;
    background-color: #a9c0a6
    ;
}
ul{
max-width: 900px;
margin: auto;
padding: 20px 0 20px 10px;
border-radius: 20px;
background-color: #097770;
}

li{
    list-style-type: none;
    display: inline-block;
    margin:10px ;
    cursor: pointer;
}

.emoji-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 300px;
    border-radius: 10px;
}
.emoji-input p{
    border-radius: 4px;
    margin: 0 50px 0 40px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    
}
.emoji-input p:last-child{
    font-size: 15px;
}



